<div>
  <% @students.each do |student| %>
    <div><h1><%= student.first_name + " " + student.last_name %></h1>
      <br>
      <%= link_to student, student_path(student) %></div>
  <% end %>
</div>
